<h2>Your Tasks</h2>
<ul>
<% @tasks.each do |task| %>
  <li><% if task.completed == true %>
    <input type="checkbox" name="done" disabled="true" checked>
  <% else %>
    <input type="checkbox" name="done" disabled="true">
  <% end %>
  <%= link_to "#{task.title}", task_path(task.id) %>: <%= task.details %></li>
<% end %>
</ul>
