<h2>Your Tasks</h2>
<ul>
<% @tasks.each do |task| %>
  <li>
    <% if task.completed == true %>
    <input type="checkbox" name="done" disabled="true" checked>
  <% else %>
    <input type="checkbox" name="done" disabled="true">
  <% end %>
  <%= link_to "#{task.title}", task_path(task.id) %>: <%= task.details %>
  <%= link_to "Delete", task_path(task), method: :delete, data: { confirm: "Are you sure?" } %>
</li>
<% end %>
</ul>

<%= link_to "Add a new task", new_task_path %>
