<h3><%= @task.title %></h3>
<p><%= @task.details %></p>
<div class="completed">
  <% if @task.completed == true %>
    <input type="checkbox" name="done" disabled="true" checked><span>This task is completed</span>
  <% else %>
    <input type="checkbox" name="done" disabled="true"><span>This task is not completed</span>
  <% end %>
</div>
<%= link_to "Edit Task", edit_task_path(@task.id) %>
<%= link_to "Back to List", root_path %>
